<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="base_Architecture.TestListener"/>
        <listener class-name="base_Architecture.AnnotationTransformer"/>
    </listeners>
 
    <test name="LoginTest">
        <classes>
            <class name="openMRS_Page_Tests.Login_Page_Test"/>
        </classes>
    </test>
</suite>